@media only screen and (max-width: 1300px){
    .nav{
        margin-left:unset !important; 
        margin-right: unset !important;
    }
}

@media only screen and (max-width: 1300px){
    .nav{
        justify-content: unset !important;
        align-items: unset !important;
        flex-direction: column !important;
        margin-left: 30px !important;
    }
    .nav div {
        margin-top: 20px ;
    }
    .naam{
        flex-grow: unset !important;
    }

    .naam p{
        font-size: 3rem !important;
    }
    body {
        min-height: 100vh !important;
    }
}

@media only screen and (max-width: 950px){
    .naam p {
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 550px){
    .naam{
        display: unset !important;
        margin-left: 27px !important;
    }
    
    .naam p {
        font-size: 2rem !important;
    }
}

body {
    min-height: 115vh;
}

.name{
    font-weight: 500;
    padding-bottom: 150px;
}